/* @import "themes.scss"; */
@media (min-width: 1024px) and (max-width: 1440px) {
  html,h1,h2,h3,h4,h5,h6 {
    font-size: 0.8125rem;
    font-family: 'Raleway', sans-serif;
  }
  .challenge {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
    html,h1,h2,h3,h4,h5,h6 {
    font-size: 0.875rem;
    font-family: 'Raleway', sans-serif;
  }
  .challenge {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
    html,h1,h2,h3,h4,h5,h6 {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
  }
}

@media screen and (max-width: 500px) {
    section .container.px-0 {
        padding: 0 15px !important;
    }
    .openbtn {
        padding-right: 0;
    }
    .d-flex.justify-content-around {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    section .container.px-0 {
        padding: 0 15px !important;
    }
    .ingredients-img {
        width: 100%;
    }
    .d-flex.justify-content-around {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media screen and (max-width: 767px) {

    html {
        font-size: 0.9rem;
    }
    .dropdown-content li {
        list-style-type: none;
    }
    .recruiters .owl-theme .owl-dots,
    .recruiters .owl-theme .owl-nav {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }
    .d-flex.justify-content-around {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .title,
    .title1 {
        font-size: 2.2rem !important;
    }
    
    .title1 .text_black1 {
        font-size: 2.2rem;
    }
    h5.red {
        font-size: 1.5rem;
    }
    .banner-section {
        margin-top: 0px;
    }
    .navbar-brand {
        padding-top: 1.3125rem;
    }
    a.navbar-brand.float-md-left {
        display: contents;
    }
    .para {
        font-size: 0.9rem;
    }
    .footer-mr {
        margin-bottom: 0.6rem;
    }
    .f1 {
        font-size: 1rem;
    }
    .text_white {
        font-size: 1.5rem;
    }
    .card-news {
        margin-bottom: 0rem;
        padding:0;
    }
    .footer_logo {
        padding: 0 1rem;
        display: block;
    }
    .bd-highlight {
        max-width: 50%;
    padding: 0 15px;
    }
    .update .col-lg-3 {
        margin-bottom: 1rem;
    }
    .text_red {
        font-size: 1.5rem;
    }
    .banner_text {
        margin:0;
    }
    /* .banner-section img.d-md-none.d-block {
        height: 33vh;
    } */
    .banner_text br {
        display: none;
    }
    
    .market-div {
        padding-left: 0 !important;
    }
    .team .member .member-info {
        padding: 1rem;
    }
    .aboutus .about-text {
        padding: 2rem 1rem 1rem 3rem;
    }
    .item_testi {
        height: auto;
    }
    .product .tab-content {
        width: 100% !important;
        text-align: justify;
    }
    .top_mr {
        padding: 2rem 0 !important;
        margin: 0;
    }
    .padding1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .header-logo {
        width: 50%;
    }
    .sidepanel {
        padding-top: 4rem;
    }
    .market-carousel img {
        width: 100% !important;
        height: 200px;
    }
    .banner-section .primary-button.pt-3 {
        padding: 0 !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .banner-section img.d-md-block.d-none {
        height: 40vh;
    }
    .banner_text {
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .team .member .member-info {
        padding: 1rem;
    }
    .bd-highlight {
        max-width: 50%;
    padding: 0 15px;
    }
    .header-logo {
        width: 50%;
    }
    .owl-carousel .owl-item img {
        margin:0;
        width: 100%;
    }
    .team .member p.grey {
        min-height: 5rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .navbar .navbar-collapse {
        position: absolute;
        background-image: none;
        padding: 5px 15px;
        border-top: 1px solid #ccc;
        background: #fff;
        box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.09);
    }
    .topnav {
        display: none;
    }
    .navbar {
        background-image: none;
        background: #fff !important;
    }
    nav.navbar.fixed-top {
        background: #fff !important;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #000 !important;
    }
    .navbar-collapse {
        width: 100%;
    }
    .top_mr {
        padding: 2rem 0 !important;
    }
    .d-flex.justify-content-around {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199px){
    .navbar .navbar-collapse {

        position: relative;
        border-top: 0;
        box-shadow: none;
    }
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .navbar-light .navbar-nav .nav-link {
        margin: 0 8px;
    }
    /* .banner-section {
        margin-top: 68px;
    } */
    .aboutus .about-text {
        padding: 4rem 2rem 0 4rem;
    }
    .d-flex.justify-content-around {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .header-logo {
        width: 60%;
    }
}
@media screen and (min-width: 1200px) {
    .market1 {
        padding: 0.8rem;
    }
    .top_mr {
        padding: 4rem 0 !important;
    }
    .navbar .navbar-collapse {
        position: relative;
        border-top: 0;
        box-shadow: none;
    }
    .header-logo {
        width: 60%;
    }
    .banner_text {
        left: 2%;
    }
    .team .member p.grey {
        min-height: 5rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1270px) {
    .navbar-light .navbar-nav .nav-link {
        margin: 0 10px;
    }
    .form-control {
        font-size: 15px;
        margin-bottom: 18px;
        height: 40px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
        margin: 0px 13px;
        white-space: nowrap;
    }
    .form-control {
        font-size: 15px;
        margin-bottom: 18px;
        height: 40px;
    }
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
    .navbar-light .navbar-nav .nav-link {
        /* font-size: 17px;
    margin: 0px 20px; */
        font-size: 16px;
        margin: 0px 9px;
        white-space: nowrap;
    }
    .banner_text {
        left: 4%;
    }
    .form-control {
        font-size: 16px;
        margin-bottom: 30px;
        height: 40px;
    }
}

@media screen and (min-width: 1921px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 18px;
        margin: 0px 3px;
        white-space: nowrap;
        font-weight: 200;
    }
    .form-control {
        font-size: 16px;
        margin-bottom: 30px;
        height: 40px;
    }
}


@media (min-width: 1800px) {
    .container {
        max-width: 1625px !important;
    }
}

@media (min-width: 1400px) and (max-width:1800px) {
    .container {
        max-width: 1264px;
    }
}

@media (min-width: 1300px) and (max-width:1400px) {
    .container {
        max-width: 1202px;
    }
}

@media (min-width: 1200px) and (max-width:1300px) {
    .container {
        max-width: 1113px;
    }
}


@media (max-width:1200px) {
    p.text-black02.mt-3 {
        font-size: 1.1rem;
    }
    p.text-blue02 {
        font-size: 1.5rem;
    }
    p.text-black02 {
        font-size: 1.5rem;
    }
}
  @media screen and (min-width:1440px) and (max-width:1600px) {
    .banner_text {
      left: 7%;
    }
  }