body {
  margin: 0px auto;
  font-family: Raleway;
  font-weight: normal;
  background: #fff;
  /* font-size: 15px; */
  color: #000;
}

h3.text-white{
text-shadow: 0px 3px 6px #00000039;
font-size: 3rem;
}

h5.color-green{
color: #009847;
font-weight: bold;
font-size: 1.8rem;
}

h5.color-grey{
font-size: 1.25rem;
color: #212121;
}

h5.color-blue{
color: #2C5B8D;
font-weight: bold;
font-size: 3rem;
}

.how_encapsulation{
background-color: #F8F8F8;
}

.encap-div {
text-align: center;
}

.img-bg {
background: linear-gradient(90deg,#E31F25,#FF1F26);
border-radius: 50%;
width: 20%;
}

/* .img1_bg{
background: linear-gradient(90deg,#E31F25,#FF1F26);
border-radius: 50%;
width: 60%;
} */

.text-p{
color: #212121;
font-weight: bold;
font-size: 1rem;
}

p.pt-4{
color: #737373;
font-size: 1.125rem;
}

/* .section1{
height: 31.25rem;
} */

ul.st1 {
    list-style: none;
    /* width: 94%; */
    text-indent: -24px;
    margin-left: 19px;
    /* margin-right: 0rem; */
    text-align: left;
  }
ul.st1 li{
  padding-bottom: 1rem;
}
ul.listicon{
list-style: none;
padding: 0;
}
/* .li-img{
  padding-right: 1rem;
} */
/* .application{
background-image: url("../images/applications bg.jpg");
background-size: cover;
background-repeat: no-repeat;  
} */

h5.app{
color: #000000;
font-size: 3rem;
font-weight: bold;
}

p.application_text{
color: black;
font-size: 1.3rem;
font-weight: bold;
}
.padd-p {
padding: 1.5rem 0;
}

.para-div1 {
padding: 0 7rem;
}

.col-section {
margin: auto;
}

.mech-text {
font-size: 1.15rem;
color: #737373;
}

.img-hide {
display: block;
}
.img-show {
display: none;
}

.section1 {
width: 100%;
}

.encap-pdd {
padding: 3rem;
}

@media screen and (max-width:999px) {
p.application_text {
  font-size: 1rem;
}
h5.color-green {
  font-size: 1rem;
  text-align: justify;
}
h5.color-grey {
  font-size: 0.9rem;
  text-align: justify;
}
p.pt-4 {
  font-size: 1rem;
}
.padd-p {
  padding: 1rem 0;
}
.mech-text {
  line-height: 1.3;
  text-align: justify;
}
.col-section {
  flex: 0 0 100%;
  max-width: 100%;
}
.img-hide {
  display: none;
}
.img-show {
  display: block;
}
h3.text-white {
  font-size: 2rem;
}
.pt-5 {
  padding-top: 1rem!important;
}
.pb-5 {
  padding-bottom: 1rem!important;
}
.para-div1 {
  padding: 1rem;
} 
.encap-pdd {
  padding: 1rem;
} 

}

@media screen and (min-width:768px) and (max-width:999px) {
h5.color-blue {
  font-size: 2rem;
}

}

@media screen and (max-width:767px) {
h5.color-blue {
  font-size: 1.5rem;
}
h5.app {
  font-size: 2rem;
}
.encap {
  width: 50%;
}
h3.text-white {
  font-size: 1rem;
} 
.img1_bg{
  width: 50%;
}

}

@media screen and (min-width:1000px) and (max-width:1280px) {
  .mech-text {
    font-size: 1.1rem;
    line-height: 1.3;
  }
  .para-div1 {
    padding: 0 3.5rem;
  }
}