.owl-theme .owl-nav {
  margin-top: 10px;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  border: 2px solid #fff;
  height: 15px;
  margin: 5px 7px;
  background: transparent;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  border: 2px solid #fff;
  background: #fff;
  outline: none !important;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  margin-bottom: 30px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 20px;
}

@media (max-width: 480px) {
  .owl-theme .owl-dots,
  .owl-theme .owl-nav {
    margin: 10px 0 !important;
  }
}
